@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url(/fonts/AH/AtkinsonHyperlegible-Regular.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url(/fonts/AH/AtkinsonHyperlegible-Italic.ttf) format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url(/fonts/AH/AtkinsonHyperlegible-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url(/fonts/AH/AtkinsonHyperlegible-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: bold;
}


body 
{
    font-family: "Atkinson Hyperlegible", system-ui, sans-serif;
    background-color: cornsilk;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body-content
{
    /* border: 5px solid red; */
    width: 85%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6
{
    color:firebrick;
}

.pic-banner
{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 10px;
    margin: 0 auto;
    /* border: 3px blue dotted; */
}

.front
{
    border: 5px lightcoral solid;
    border-radius: 5px;
    padding: 8px;
    flex: 0 1 210px;
    max-width: 210px;
    min-width: 150px;
    text-align: center;
    font-size: medium;
    font-style: italic;
    color: firebrick ;
}

.front  img
{
    width: 100%;
    border-radius: 10px;
}

.home-button
{
    position: absolute; 
    right: 20px;
    background-color: indianred;
    padding: 5px;
}

.home-button > a
{
    text-decoration: none;
    color: khaki;
    font-size: large;
    font-weight: bold;
}

img.recimg
{
  width: 30vw;
  height: auto;
  border-color: goldenrod;
  border-style: solid;
  border-width: thick;
  border-radius: 5px;
}

