body 
{
    font-family: "Atkinson Hyperlegible", system-ui, sans-serif;
    background-color: cornsilk;
    box-sizing: border-box;
    padding: 0;
    width: 85%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6
{
    color:chocolate;
}

.pic-banner
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    /* border: 3px blue dotted; */
}

.front
{
    border: 5px rgb(250, 219, 141) solid;
    border-radius: 5px;
    padding: 5px;
    flex: 0 1 28%;
    text-align: center;
}

.front a
{
    color: firebrick;
    font-size: medium;
}

.front > img
{
    width: 100%;
}

img.recimg
{
  width: 30vw;
  height: auto;
  border-color: goldenrod;
  border-style: solid;
  border-width: thick;
  border-radius: 5px;
}

